* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #eee;
}
.container {
  width: 75%;
  margin: 0 auto;
}
.container nav {
  width: 100%;
  height: 60px;
  display: grid;
  grid-template-columns: 20% 80%;
  padding: 20px;
}

.container nav .logo {
  width: 30%;
}
.container nav .logo a {
  display: block;
  width: 40px;
  height: 40px;
}
.container nav .logo a svg {
  width: 50px;
  height: 50px;
}
.container nav .menu {
  align-self: center;
  justify-self: center;
}
.container nav .menu ul {
  display: flex;
  gap: 20px;
}
.container nav .menu ul li a {
  font-size: 20px;
  color: #333;
}
.container nav i {
  display: none;
}
@media screen and (max-width: 1135px) {
  .container nav .logo a svg {
    width: 40px;
    height: 40px;
  }
  .container nav .menu ul li a {
    font-size: 15px;
  }
}
@media screen and (max-width: 905px) {
  .container nav .logo a svg {
    width: 35px;
    height: 35px;
  }
  .container nav .menu ul li a {
    font-size: 12px;
  }
}
@media screen and (max-width: 569px) {
  .container nav .logo a svg {
    width: 33px;
    height: 33px;
  }
  .container nav .menu ul li a {
    font-size: 8px;
  }
}
@media screen and (max-width: 480px) {
  .container {
    width: 90%;
    margin: 0 auto;
  }
  .container nav {
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 90% 10%;
    padding: 20px;
  }
  .container nav .logo a svg {
    width: 40px;
    height: 40px;
  }
  .container nav i {
    display: block;
    font-size: 1.2rem;
  }
  .container nav .menu {
    display: none;
    position: absolute;
    top: 70px;
    width: 80%;
    text-align: center;
    background-color: #a79999;
  }
  .show {
    display: block;
  }
  .container nav .menu ul {
    flex-direction: column;
  }
  .container nav .menu ul li a {
    font-size: 20px;
  }
}
