@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Roboto", sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
}
.container {
  margin: 0 auto;
}
.container nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 97px;
  display: grid;
  grid-template-columns: 20% 80%;
  background-color: #141414;
  padding: 20px;
  z-index: 100;
}
.container .sticky {
  position: fixed;
  top: 0;
}

.container nav .logo {
  width: 30%;
}
.container nav .logo a {
  display: block;
  width: 73px;
  height: 60px;
  border: 2px solid #fdfdfd;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.container nav .logo a:hover {
  background-color: #00f7ff;
}
.container nav .logo a svg {
  width: 70px;
  height: 63px;
}
.container nav .logo a svg:hover {
  width: 72px;
  height: 65px;
}
.container nav .menu {
  align-self: center;
  justify-self: end;
}
.container nav .menu ul {
  display: flex;
  gap: 10px;
}
.container nav .menu ul li a {
  font-size: 20px;
  color: #dadada;
  text-transform: uppercase;
  position: relative;
  font-weight: bold;
}
.container nav .menu ul li a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 4px;
  background-color: #1c9617;
  transition: width 0.3s ease-out;
}
.container nav .menu ul li a:hover::before {
  width: 100%;
  transition: width 0.3s ease-out;
}
.container nav .icon-io .menuIcon {
  display: none;
}
.container nav .icon-io .iconx {
  display: none;
}
.container main .itroduction {
  padding: 20px;
}
.container main .itroduction .Hello {
  font-size: 3rem;
}
.container main .itroduction .job {
  font-size: 4rem;
}
.container main .itroduction .job .job-name {
  color: #3f89eb;
}
.container main .itroduction .Hello .name {
  color: #5cf857;
}
.container main .itroduction .portfolio-btn {
  border: 1px solid #141414;
  padding: 15px;
  border-radius: 10px;
  background-color: #ffffff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 100px;
}
.container main .itroduction a .portfolio-btn:hover {
  background-color: #000000;
  color: #ffffff;
}
@media screen and (max-width: 768px) {
  .container nav .menu ul li a {
    font-size: 17px;
  }
}
@media screen and (max-width: 600px) {
  .container nav .menu ul li a {
    font-size: 12px;
  }
}
@media screen and (max-width: 480px) {
  .container {
    width: 100%;
    margin: 0 auto;
  }
  .container nav {
    width: 100%;
    height: 60px;
    display: grid;
    grid-template-columns: 90% 10%;
    padding: 20px;
  }
  .container nav .logo {
    position: relative;
    bottom: 10px;
  }
  .container nav .logo a {
    display: block;
    width: 46px;
    height: 42px;
    border: 2px solid #fdfdfd;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .container nav .logo a svg {
    width: 40px;
    height: 40px;
  }
  .container nav .logo a svg:hover {
    width: 42px;
    height: 42px;
  }
  .container nav .icon-io .menuIcon {
    display: block;
    color: #ffffff;
    font-size: 1.2rem;
  }
  .container nav .icon-io .disppear {
    display: none;
  }
  .container nav .icon-io .appear {
    display: block;
    color: #ffffff;
  }
  .container nav .menu {
    display: none;
    position: absolute;
    top: 40px;
    text-align: center;
    background-color: #929292;
    border-radius: 10px;
    z-index: 27;
    transition: all 0.5s ease-in-out;
  }
  .container nav .show {
    display: block;
  }
  .container nav .menu ul {
    flex-direction: column;
    padding: 20px;
  }
  .container nav .menu ul li {
    padding: 10px;
  }
  .container nav .menu ul li a {
    font-size: 20px;
  }
  .container nav .menu ul li:hover {
    background-color: #686767;
  }
  .container main .itroduction {
  }
  .container main .itroduction .Hello {
    font-size: 2.2rem;
  }
  .container main .itroduction .job {
    font-size: 2.2rem;
  }
  .container main .itroduction .portfolio-btn {
    border: 1px solid #141414;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 5px;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 60px;
  }
}
